Flask==3.0.0
Flask-Compress==1.17
Flask-CORS==4.0.0
requests==2.31.0
curl_cffi==0.15.0
Scrapy==2.12.0
scrapy-impersonate==1.4.1
scrapy-playwright
playwright
scrapling[fetchers]==0.4.5
beautifulsoup4==4.12.2
APScheduler==3.10.4
python-dotenv==1.0.0
websocket-client==1.6.4
lxml==6.0.3
google-auth==2.39.0
gunicorn==23.0.0
zendriver==0.15.3
